### Environment Files ###
*.env
*.env.*

### Image Files ###
*.jpg
*.jpeg
*.gif
test.png
test1.png

### VS Code ###
.vscode/

### GoldenEye by jsiedl ###
GoldenEye/

### Log Files ###
*.log

### Uploads File ###
test-server/app/public/uploads/
